.thankyou-content-spot-registration {
  /* border: 2px solid red; */
  margin-top: 10vw;
}
.qr-preview-container {
  width: 30vw;
  height: 30vw;
  background-color: white;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2vw;
}
